@media (max-width: 900px) {
  .container {
    height: auto;
    &::before {
      width: 80%;
      height: 40%;
      top: 0%;
      left: -30%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
    &::after {
      width: 80%;
      height: 40%;
      right: -30%;
      bottom: 0%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
    }
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 5rem 0rem;
  }

  .chat-details {
    margin-top: 5rem;
    text-align: center;
    & > div {
      width: 100%;
      margin: 0 auto;
    }
  }
}
